@media screen and (min-width: 1280px) {
    body {
        font-size: 250%;
    }   
}
@media screen and (min-width: 992px) and (max-width:1279px) {
    body {
        font-size 200%; 
    }
}
@media screen and (min-width: 768px) {
    body { 
        font-size:150%;
    }
    .linkBox {
        size: 30%;
    }
}
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
body {
    background: #232323;
    color: #eeeeee;
    font-family: ariel, helvetica, sans-seriff;
}
a {
    color:#eeeeee;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
input {
    padding: 1px;
    background: #333;
    color: #eee;
    border-color:#eeeeee;
    border-radius: 3px;
    width: 5em;
}
input:focus {
    background:#555;
    border-color:#eee;
    border: solid 2px #eee;
    width: 5em;
    outline: none;
}
button {
    background: #333;
    color: #eee;
    border-color: #eee;
}
.linkBox {
    border: solid 1px;
    border-color: #eeeeee;
    width: 7em;
    height: 7em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.linkBox:hover {
    width: 8em;
    height: 8em;
    font-size: 120%;
    background: #333;
    border-color: #fff;
}
.linkBox img{
    margin: auto;
    height: 6em;
    width: 6em;
}
.linkText {
    margin: auto;
}
.boxRow {
    height: 9em;
    display: flex;
    flex-direction: row;
    border: 1px;
    border-color: white;
}
#error{
    color: #AA3030;
    font-weight:bold;
}
